/* =s Reset (by YUI 3) */
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
header,section,footer,nav{display: block;}
/* end */
/*= global start */
html,body{height:100%;}
body{font:12px/1.5 arial,simsun;color:#999;word-break:break-all;word-wrap:break-word;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
.clr{*zoom:1;}
.clr:after,.clr:before{content:"";display:block;height:0;visibility:hidden;clear:both;}
.inner{width:960px;margin:0 auto;}
.c-blue{color:#05b1d9;}
/* end */

/*= header start*/
.header{position:relative;background-color:#FFF;z-index:2;}
.header .inner{height:60px;}
.h-logo{float:left;width:170px;height:60px;}
.h-logo img{display:block;width:170px;height:60px;}
.h-btn a,.h-btn .h-b-apps{position:relative;float:left;*display:inline;height:60px;line-height:60px;padding:0 10px;margin-right:10px;font-size:16px;color:#676767;font-family:"Microsoft Yahei";}
.h-btn a:hover{height:56px;border-bottom:4px solid #05b1d9;color:#05b1d9;text-decoration:none;}
.h-btn .h-btn-now{width: 80px;text-align: center;background: #05b1d9;color: #fff;}
.h-btn .h-btn-now:hover{color: #fff;}
.h-btn .h-b-apps{position:relative;color:#f5931c;width:50px;padding:0 10px 0 20px;}
.h-btn .h-b-apps:after{content:"";position:absolute;left:55px;top:28px;width:0;height:0;line-height:0;font-size:0;border:5px solid transparent;border-top-color:#f5931c;}
.h-btn .h-b-apps:hover{color:#fff;background-color:#454545;}
.h-btn .h-b-apps:hover:after{border:5px solid transparent;border-bottom-color:#fff;top:24px;}
.h-btn .h-b-apps ul{display:none;position:absolute;left:-420px;width:765px;padding:0 9px 0 16px;height:122px;top:100%;background:url(../images/apps.png) 0 0 no-repeat;}
.h-btn .h-b-apps li{*float:left;*clear:both;}
.h-btn .h-b-apps:hover ul{display:block;}
.h-btn .h-b-apps ul a,.h-btn .h-b-apps ul a:hover{text-align:center;width:85px;height:122px;text-indent:-999em;overflow:hidden;border:none;}
.h-inform{float:right;height:60px;}
.h-i-phone,.h-i-mail,.h-i-user{position:relative;float:left;width:50px;height:60px;color:#fff;background-image:url(../images/spr.png);background-repeat:no-repeat;text-align:center;}
.h-i-phone{background-position:14px 0;}
.h-i-mail{background-position:-27px 0;line-height:90px;color:#b6c6ca;}
.h-i-user{background-position:-76px 0;}
.h-i-mail:hover{height:70px;background-color:#d80616;text-decoration:none;background-position: -237px -48px;line-height:102px;color:#fff;}

.h-i-user:hover{background-color:#454545;background-position: -287px -48px;}
.h-i-phone:hover{background-color:#454545;background-position: -196px -48px;}
.h-i-phone:hover span,.h-i-user:hover span{display:block;}
.h-i-phone span{display:none;position:absolute;right:0;top:60px;width:240px;height:150px;background-color:#454545;}
.h-i-phone span em{display:block;padding:10px 0 8px;text-align:center;font-style:normal;color:#fff;}
.h-i-phone span a{float:left;*display:inline;width:90px;margin-left:20px;text-align:center;color:#fff;}
.h-i-phone span a img{display:block;margin-bottom:3px;}
.h-i-user span{display:none;position:absolute;right:0;top:60px;width:134px;padding:10px 0;background-color:#454545;}
.h-i-user span a{display:block;padding-left:50px;height:30px;line-height:30px;color:#fff;text-align:left;background:url(../images/spr.png) no-repeat;}
.h-i-user span .quick{background-position: -146px 3px;}
.h-i-user span .logout{background-position:-146px -22px;}
/* end */

.header-nav{height: 40px;background: #05b1d9;}
.header-nav-inner{width: 960px;overflow: hidden;margin: 0 auto;}
.h-n-i-cont{margin-left: 170px;}
.header-nav-inner a{float: left;height: 40px;line-height: 40px;color: #fff;font-size: 12px;padding: 0 10px;}



/*= content start*/
.wrap{min-width:960px;background:#f9f9f9 url(../images/resources_index/bg.jpg) center 0 no-repeat;}
.content{margin-bottom:90px;}
.c-header{position:relative;height:153px;color:#fff;}
.c-header h1{position: absolute;width: 196px;height: 46px;background: url(../images/resources_index/spr_resources.png) no-repeat 0 0;text-indent: -9999em;top: 40px;}
.c-nav{float:left;width:170px;margin-top:30px;}
.c-main{overflow:hidden;*zoom:1;}

.c-h-left{float:left;width:170px;}
.c-h-search{position: absolute;right: 0;height: 44px;width: 446px;top: 40px;}
.c-h-s-tag{width: 76px;height: 44px;float: left;background: #f6f6f6;}
.c-h-s-tagbox{display: none;}
.c-h-s-text{float: left;height: 100%;width: 290px;border: 0;background: #fff;}
.c-h-s-btn{float: left;background: #f5931c;width: 79px;height: 100%;}
.c-h-search-bot{position: absolute;right: 0;top:100px; }
.c-h-search-bot li{float: left;}


.c-h-pic{position:relative;display:block;width:86px;height:86px;margin:24px auto 8px;}
.c-h-pic img{display:block;width:86px;height:86px;}
.c-h-p-change{display:none;position:absolute;width:100%;height:100%;left:0;top:0;text-align:center;line-height:86px;color:#fff;}
.c-h-p-cover{position:absolute;width:100%;height:100%;left:0;top:0;background:url(../images/cover.png) 0 0 no-repeat;}
.c-h-p-bg{display:none;position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.c-h-pic:hover .c-h-p-change,.c-h-pic:hover .c-h-p-bg{display:block;cursor:pointer;text-decoration:none;}
.c-h-status{width:165px;margin:0 auto;overflow:hidden;*zoom:1;color:#fff;}
.c-h-status li{float:left;*display:inline;width:55px;text-align:center;margin-left:-1px;}
.c-h-status strong,.c-h-status span{display:block;font-size:14px;line-height:1.2;}
.c-h-status strong{font-weight:bold;font-size:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.c-h-status span{border-left:1px solid #fff;}
.c-h-name{padding:30px 0 7px;border-bottom:1px solid #8180a0;font-size:24px;font-family:"Microsoft Yahei";color:#fff;}
.c-h-name strong{color:#fdd327;}
.c-h-info{padding:12px 0 20px;color:#fff;}
.c-h-info div{float:left;*display:inline;padding: 0 20px;line-height:16px;}
.c-h-i-names{position:relative;border-right:1px solid #85819c;}
.c-h-i-names em i{display:inline-block;*display:inline;*zoom:1;width:0;height:0;line-height:0;font-size:0;border:4px solid transparent;border-top-color:#fff;vertical-align:middle;margin-left:5px;}
.c-h-i-names ul{position:absolute;top:100%;left:56px;background-color:#000;color:#fff;display:none;}
.c-h-sign{height:28px;}



.c-h-sign-edit{display:none;}
.c-h-sign-edit input,.c-h-sign-edit button,.c-h-sign-edit a{float:left;border:none;height:25px;line-height:25px;margin-right:5px;*overflow:hidden;}
.c-h-sign-edit input{width:240px;padding:0 15px;color:#999;}
.c-h-sign-edit button{width:70px;padding:0;text-align:center;color:#454545;margin-right:10px;background:#bab2b3;}
.c-h-sign-edit a{color:#fff;}

.c-main{min-height: 660px;padding-top:20px;}
.c-main-aside{width: 280px;float:left}
.c-main-user{height: 30px;line-height: 30px;}
.c-main-user-name{color: #05b1d9}
.c-main-user-name i{color: #999;font-style:normal}
.c-main-user-test{display:block;height:14px;line-height:14px;padding-left: 12px;border-left:1px solid #ccc;color: #05b1d9;float:right;margin-top: 8px}
.question-btn{display: block;background: #f5931c url(../images/resources_index/question.jpg) no-repeat 68px 14px;padding-left: 110px;width: 170px;height: 57px;line-height: 57px;color: #fff;font-size: 28px;font-family: "Microsoft Yahei",sans-serif;}
.c-main-qa-wrap{margin-top: 20px;}
.c-main-qa-title{background: #fff;border-bottom: 2px solid #ddd;position: relative;*zoom:1;}
.qa-title1{width:260px;height:75px;padding: 15px 0 0 20px}
.qa-title2{padding: 10px 0 0 22px;width: 258px;height: 27px;margin-top: 30px;}
.c-main-qa-title h3{color: #666;font-size: 16px;line-height: 20px;font-weight: bold;font-family: "Microsoft Yahei",sans-serif}
.c-main-qa-title p{color: #999;font-size: 12px;line-height: 20px;}
.c-main-qa-title img{position: absolute;right: 20px;top: 10px;}
.c-main-qa-list{padding-left: 20px;}
.c-main-qa-list li{height: 38px;line-height: 38px;padding-left:22px;background: url(../images/resources_index/qalist.jpg) no-repeat left 0;color: #05b1d9;font-size:12px}
.c-main-qa-list li span{color: #999;padding-right: 6px;}
.c-main-qa-list li:last-child{height: 23px;line-height: 33px;}
.c-main-qa-list2 li{padding-left: 20px;height: 35px;line-height: 35px;}
.c-main-qa-list2 li a{color: #05b1d9;}

.c-main-cont{width: 650px;float: right}
.c-main-cont-highlight{background: #fffae2;border-top:1px solid #f5e190;border-bottom:1px solid #f5e190;padding: 20px 32px}
.c-main-cont-highlight h3{color: #df4928;font-size: 16px;font-weight: bold;font-family: "Microsoft Yahei",sans-serif;width: 144px;}
.more{display: block;width: 18px;height: 18px;background: #c8d7dd;color: #fff;line-height: 18px;text-align: center;font-size: 18px;float:right;margin-top: 3px}
.c-main-cont-score li{height: 28px;line-height: 28px;color: #05b1d9}
.c-main-cont-score li .score{display: block;width: 30px;height: 18px;line-height: 18px;text-align: center;background: #f5931c;color: #fff;float: left;margin-top: 6px;}
.c-main-cont li .grade{display: block;float:left;color: #999;padding: 0 10px}
.c-main-cont-normal{padding: 20px 0 0;background: #fff;border: 1px solid #d8d8d8;margin-top: 28px}
.c-main-cont-normal h3{color: #666;font-size: 16px;font-weight: bold;font-family: "Microsoft Yahei",sans-serif;width: 120px;padding-left: 16px;}
.c-main-cont-normal-list li{height: 40px;line-height: 40px;background: url(../images/resources_index/qicon.jpg) no-repeat 26px 10px;color: #05b1d9;padding-left: 50px;}
.c-main-cont-normal-list li:hover{background: #ecf5f9 url(../images/resources_index/qiconhov.jpg) no-repeat 26px 10px;height: 38px;border: 1px solid #ddeaef;border-left: 0;border-right:0}
.answer{width: 73px;height: 20px;background: url(../images/resources_index/answer.jpg) no-repeat;float: right;margin: 10px 10px 0 0;text-indent: -999em;display: none}
.c-main-cont-normal-list li:hover .answer{display: block}
.c-main-cont .line{height: 1px;margin: 20px 16px;background: #e2e2e2;}
.hot-tag{height: 55px;line-height: 55px;background: #f7f7f7;border-top: 1px solid #e2e2e2;padding-left: 28px}
.hot-tag p{color: #dcdcdc;font-size: 14px;font-weight: bold}
.hot-tag p span{color: #808080;font-weight: normal}
.hot-tag p a{color: #f5931c}

/* end */
/*= aside start*/
.aside{position:fixed;left:50%;margin-left:500px;top:400px;z-index:3;}
.aside a{display:block;width:73px;height:73px;line-height:73px;text-align:center;margin-bottom:1px;}
.aside .contract{background:url(../images/aside.jpg) 0 0 no-repeat;}
.aside .help{background:url(../images/aside.jpg) 0 -74px no-repeat;text-decoration:none;}
.aside .help span{display:none;width:100%;height:100%;color:#fff;background:rgba(0,0,0,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.aside .help:hover span{display:block;}
/* end */


/*= footer start*/
#footer{width:960px;margin:0 auto;}
#footer_content{margin-left:170px;padding-bottom:20px;overflow:hidden;}
#footer_lnk{overflow:hidden;margin-bottom:10px;margin-left:-16px;}
#footer_lnk li{float:left;*display:inline;border-left:1px solid #fff;padding:0 15px;line-height:14px;}
#footer_lnk a{color:#fff;}
#footer_copy,#footer_copy a{color:#fff;}
/* end */