.c-tab-btn{width:100%;height: 40px;margin-bottom: 20px}
.c-tab-btn li{float:left;width:50%;}
.c-tab-btn li a{display: block;width: 100%;height: 100%;background: #f8f8f8;border: 1px solid #e5e5e5;color: #999;font-size: 12px;line-height: 40px;text-align: center}
.c-tab-btn li a:hover,.c-tab-btn .current a{text-decoration: none;background: #fff;border-bottom: 0;border-top: 1px solid #05b1d9;}
.c-tab-cont{display: none}
.c-tab-day-nav-bar{height: 40px;width: 100%;border: 1px solid #ebebeb;border-bottom: 2px solid #ebebeb;margin-bottom: 30px}
.c-tab-nav-btn{display: block;width: 28px;height: 39px;border: 1px solid #e5e5e5;float:left;background: url('../images/daynav.jpg') no-repeat}
#prev{background-position: 0 0}
#next{background-position: -28px 0}
.c-tab-day-cont-wrap{width: 100%;height: auto;overflow: hidden}
.c-tab-day-cont-main{width: 9999px;position: relative}
.c-tab-day-nav-item-wrap{width: 670px;overflow: hidden;float:left;position: relative;*zoom:1}
.c-tab-day-nav-item{border-bottom: 1px solid #e5e5e5;margin-right: -2px;height: 40px;width: 9999px;position: relative}
.c-tab-day-nav-item li{float:left;background: url(../images/li.jpg) no-repeat right 14px;cursor: default}
.c-tab-day-nav-item li a{display: block;width: 96px;height: 45px;line-height: 40px;text-align: center;font-size: 12px;color: #999;}
.c-tab-day-nav-item li a:hover,.c-tab-day-nav-item li.current a{text-decoration: none;background: url(../images/dayhov.jpg) no-repeat center 38px}
.c-tab-day-title{color: #666;font-size: 14px;font-weight: bold;margin-bottom: 20px}
.c-tab-day-cont{width: 730px;display: none}
.c-tab-day-cont dt,.c-tab-day-cont dd{display: inline-block}
.c-tab-day-cont dt{width:120px;height: 25px;line-height: 25px;color: #999}
.c-tab-day-cont dd{width: 140px;height: 25px;line-height: 25px;}
.c-tab-day-cont td{height: 35px;}
.c-tab-day-info{width: 100%;height:100%;background: #eef6f9;text-indent: 10px;color: #999}
.c-tab-day-info-percent{width:0;height:100%;background: #05b1d9;color: #fff;text-indent: 10px}
.current{display: block}

.g-calendar{width:340px;height:275px;;border:1px solid #d7d7d7; *zoom:1;position:relative;float: left}
.g-calendar-hd{text-align:center;height:28px;line-height:28px;border-bottom:1px solid #d7d7d7;letter-spacing:2px;background: #f8f8f8;}
.g-calendar-tit{overflow:hidden;*zoom:1;}
.g-calendar-bd span,.g-calendar-tit span{float:left;display:inline;width:35px;height:31px;line-height:35px;text-align:center;margin: 2px 6px}
.g-calendar-grey{color:#ccc;}
.g-calendar-prev,.g-calendar-next{display: block;width: 40px;height: 30px;background: url(../images/page.jpg) no-repeat;position:absolute}
.g-calendar-prev{background-position: 0 0;left: -1px;top: -1px;}
.g-calendar-next{background-position:-39px 0;right:-1px;top: -1px;}
.g-calendar-bd span{position:relative;zoom:1;}
.g-calendar-bd span em{display:block;position:absolute;top:-500px;left:0;width:200px;background:#fff;z-index:99;border:1px solid #000;}
.g-calendar-bd span em a{display:block;margin:4px 0;color:#000}
.g-calendar-bd span em a:hover{color:#04729e}
.g-calendar-bd span:hover{background-color:#00A8EC;color:#fff}
.g-calendar-bd span:hover em{top:0;left:34px}
.c-tab-month-cont{display: block;float:right;width: auto;margin:20px 70px 0 0}
