/** 页面左侧布局 **/
.c-m-left{float:left; width:708px; min-height:100px; border:1px solid #d8d8d8;}
.c-m-right{margin-left:-1px;}

/* 页面内部wrap */
.c-m-left-main{margin:30px 20px;}

/* 输入框 */
.c-m-left-main .input-text{padding:0 10px; width:338px; height:23px; line-height:23px; border:1px solid #ccc;}
.c-m-left-main .title{float:left; padding-right:10px; min-width:90px; width:90px; height:25px; line-height:25px; text-align:right;}
.c-m-left-main .title em{color:#da0000;}

/*  */
.c-m-left-main .div-wrap{margin-left:100px;}
.c-m-left-main .div-wrap-link, .c-m-left-main .div-wrap-division{float:left; padding:5px 0; height:20px; line-height:20px; }
.c-m-left-main .div-wrap-link{background:url(../images/vote/spr_icon.png) no-repeat; color:#05b1d9; text-indent:20px;}
.c-m-left-main .div-wrap-division{padding:5px 30px;}

/*  */
.c-m-left-main .div-wrap-linkAdd{background-position:0 -202px;}
.c-m-left-main .div-wrap-linkInsert{background-position:0 -242px;}

/*  */
.c-m-left-main .div-wrap-writeInfo{display:block;}
.c-m-left-main .textarea-writeInfo{display:block; margin-left:100px; width:358px; height:103px; border:1px solid #ccc; resize:none;}
.c-m-left-main .textarea-writeInfo.hide{display:none;}
.c-m-left-main .titleInfo{float:left; height:25px; line-height:25px;}

/*  */
.c-m-left-main .div-wrap-inputList{padding-top:5px;}
.c-m-left-main .input-choice{margin-bottom:10px; *margin-bottom:5px;}
.c-m-left-main .div-wrap-linkAddChoice{display:block; padding-bottom:5px; width:75px; height:20px; line-height:20px; color:#05b1d9; background:url(../images/vote/spr_icon.png) no-repeat 0 -288px; text-indent:20px; }

/*  */
.c-m-left-main .select-choiceType{float:left; width:88px; height:25px; color:#999; border:1px solid #ccc;}
.c-m-left-main .input-radioWrap{float:left; margin-right:20px; height:25px; line-height:25px;}
.c-m-left-main .input-radioWrap input, .c-m-left-main .input-radioWrap label{float:left; cursor:pointer;}
.c-m-left-main .input-radioWrap-radio{margin-top:6px; *margin-top:2px; margin-right:3px;}

/*  */
.c-m-left-main .div-yearWrap, .c-m-left-main .select-time, .c-m-left-main .span-text{float:left;}
.c-m-left-main .div-yearWrap{width:138px; height:23px; border:1px solid #ccc;}
.c-m-left-main .div-yearWrap span{float:left; width:97px; height:23px; line-height:23px; text-align:center; border-right:1px solid #ccc;}
.c-m-left-main .div-yearWrap a{float:left; width:40px; height:23px; background:url(../images/vote/spr_icon.png) no-repeat 6px -324px;}
.c-m-left-main .select-time{margin-left:10px; width:48px; height:25px; line-height:25px; color:#999; border:1px solid #ccc; cursor:pointer;}
.c-m-left-main .span-text{padding-left:5px; height:25px; line-height:25px;}

/*  */
.c-m-left-main .tipsInfo{margin-left:100px; margin-top:15px; width:247px; height:42px; line-height:42px; color:#999; background:#fffae2 url(../images/vote/spr_icon.png) no-repeat 16px -357px; border:1px solid #f5e190; text-indent:39px;}
/*  */
.c-m-left-main .link-confirm{display:block; margin-left:100px; margin-top:20px; width:83px; height:32px; line-height:32px; background-color:#05b1d9; color:#fff; text-align:center;}
.c-m-left-main .typeWrap{position:relative; padding:5px 0;}




/* 日历样式 */
.g-calendar{display:none;top:35px;left:200px;width:340px;height:275px;border:1px solid #d7d7d7; *zoom:1;position:absolute;float: left;background: #f8f8f8}
.g-calendar-hd{text-align:center;height:28px;line-height:28px;border-bottom:1px solid #d7d7d7;letter-spacing:2px;background: #f8f8f8;}
.g-calendar-tit{overflow:hidden;*zoom:1;}
.g-calendar-bd span,.g-calendar-tit span{float:left;display:inline;width:35px;height:31px;line-height:35px;text-align:center;margin: 2px 6px;}
.g-calendar-prev,.g-calendar-next{display: block;width: 40px;height: 30px;background: url(../images/page.jpg) no-repeat;position:absolute}
.g-calendar-prev{background-position: 0 0;left: -1px;top: -1px;}
.g-calendar-next{background-position:-39px 0;right:-1px;top: -1px;}
.g-calendar-bd span{position:relative;zoom:1;color: #4fc7e3;}
.g-calendar-bd span.g-calendar-grey{color:#d8d8d8;}
.g-calendar-bd span em{display:block;position:absolute;top:-500px;left:0;width:200px;background:#fff;z-index:99;border:1px solid #000;}
.g-calendar-bd span em a{display:block;margin:4px 0;color:#000}
.g-calendar-bd span em a:hover{color:#04729e}
.g-calendar-bd span:hover,.g-calendar-bd .g-calendar-on{background-color:#00A8EC;color:#fff}
.g-calendar-bd span:hover em{top:0;left:34px}



