body{font-family:'Microsoft Yahei';}

.section{position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.section.table{display:table; width:100%;}
.tableCell{display:table-cell; vertical-align:middle; width:100%; height:100%;}
.section-inner{display:table; width:100%; height:100%;}
.odd{background-color:#f3f8fb;}
.even{background-color:#fff;}

.one-bg1{height:540px; background:url(../images/show/bg01.png) no-repeat center top;}
.one-bg2{height:540px; background:url(../images/show/bg04.png) no-repeat center top;}
.one-bg3{height:540px; background:url(../images/show/bg02.png) no-repeat center top;}

.one-inner.inner{height:540px; position:relative;}
.one-inner-video{position:absolute; top:161px; left:358px; width:230px; height:188px; background-color:#000;}


.two-inner{height:700px;}
.two-cont{display:table-cell; width:960px; height:700px; vertical-align:middle;}
.two-cont-unit{float:left; margin-right:110px; width:240px; opacity:0;}
.two-cont-unit.last{margin-right:0;}
.two-cont-unit h3{margin-top:15px; font-size:24px; color:#666;}
.two-cont-unit p{margin-bottom:20px; font-size:14px; color:#9a9a9a;}


.three-inner{height:700px;}
.inner-unit .ml65{margin-left:65px;}
.inner-unit .mt10{margin-top:10px;}
.inner-unit .mt20{margin-top:20px;}
.inner-unit img{float:left;}
.inner-unit-cont{float:left; width:335px;}
.inner-unit-cont h2{font-size:40px; margin-bottom:10px; color:#666; opacity:0;}
.inner-unit-cont-sub p{margin-bottom:15px; font-size:14px; line-height:180%; color:#9a9a9a;
    opacity:0;
    -webkit-transition:all 1s ease-in;
    -moz-transition:all 1s ease-in;
    -ms-transition:all 1s ease-in;
    -o-transition:all 1s ease-in;
    transition:all 1s ease-in;
}
.inner-unit-cont-sub p.show{opacity:1;}


.four-inner{height:700px;}
.five-inner{height:700px;}

.six-bg1{background:url(../images/show/bg03.png) no-repeat center bottom;}
.six-inner{position:relative; height:545px; overflow:hidden;}
.six-cont{position:relative; margin-top:60px; width:100%; height:200px;}
.six-cont-unit1{position:absolute; top:123px; left:75px; width:160px;}
.six-cont-unit1 p{font-size:16px; font-family:'Arial'; line-height:185%; color:#333;}


.six-cont-unit2{position:absolute; left:240px; top:0; width:195px;}

.six-cont-unitCom-list{margin-top:10px;}
.six-cont-unitCom h4{height:26px; line-height:26px; color:#fff; background-color:#5093c8; text-indent:20px;}
.six-cont-unitCom p{line-height:200%; color:#666; text-indent:20px;}
.six-cont-unit2 p a{color:#0042ff;}

.six-cont-unit3{position:absolute; left:473px; top:0; width:213px;}
.six-cont-unit3 p a{color:#666;}
.six-cont-unit3 p a:hover{color:#f6931c;}


.six-cont-unit4{position:absolute; top:0; right:0; width:238px; height:160px; overflow:hidden;}
.six-cont-unit4-imagesList{position:absolute; width:1000px;}
.six-cont-unit4-imagesList li{float:left; width:238px; height:160px;}
.six-cont-unit4-buttonsList{position:absolute; bottom:5px; right:5px;}
.six-cont-unit4-buttonsList a{float:left; margin-right:2px; width:15px; height:15px; line-height:15px; background-color:#000; color:#fff; text-align:center; filter:alpha(opacity=70); opacity:0.7;}


.g-sd{position:fixed; right:100px; top:100px;}
.g-sd a{display:block; margin-bottom:10px; width:10px; height:10px; background:url(../images/show/cirIcon.png) no-repeat 0 0;}
.g-sd a.current{background-position:0 -10px;}



.footer{text-align:center; background-color:#292929; color:#fff;}
#footer_content{padding:30px 0;overflow:hidden;margin: 0;}
#footer_lnk{overflow:hidden;margin-bottom:10px;margin-left:-16px;}
#footer_lnk a{color:#fff;padding: 0 6px;}
#footer_copy,#footer_copy a{color:#fff;}





.section .slideLeftRetourn {
    -webkit-animation:slideLeftRetourn 1s both;
    -moz-animation:slideLeftRetourn 1s both;
    -ms-animation:slideLeftRetourn 1s both;
    -o-animation:slideLeftRetourn 1s both;
    animation:slideLeftRetourn 1s both;
    opacity:1;
}
.section .slideRightRetourn {
    -webkit-animation:slideRightRetourn 1s both;
    -moz-animation:slideRightRetourn 1s both;
    -ms-animation:slideRightRetourn 1s both;
    -o-animation:slideRightRetourn 1s both;
    animation:slideRightRetourn 1s both;
    opacity:1;
}

.section .slideTopRetourn1 {
    -webkit-animation:slideTopRetourn 1s both;
    -moz-animation:slideTopRetourn 1s both;
    -ms-animation:slideTopRetourn 1s both;
    -o-animation:slideTopRetourn 1s both;
    animation:slideTopRetourn 1s both;
    opacity:1;
}
.section .slideTopRetourn2 {
    -webkit-animation:slideTopRetourn 1.5s both;
    -moz-animation:slideTopRetourn 1s both;
    -ms-animation:slideTopRetourn 1s both;
    -o-animation:slideTopRetourn 1s both;
    animation:slideTopRetourn 1.5s both;
    opacity:1;
}
.section .slideTopRetourn3 {
    -webkit-animation:slideTopRetourn 2s both;
    -moz-animation:slideTopRetourn 1s both;
    -ms-animation:slideTopRetourn 1s both;
    -o-animation:slideTopRetourn 1s both;
    animation:slideTopRetourn 2s both;
    opacity:1;
}

.magictime {
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both
}

@-moz-keyframes slideLeftRetourn {
    0% {
        -moz-transform-origin:0 0;
        -moz-transform:translateX(-100%)
    }
    100% {
        -moz-transform-origin:0 0;
        -moz-transform:translateX(0%)
    }
}
@-webkit-keyframes slideLeftRetourn {
    0% {
        -webkit-transform-origin:0 0;
        -webkit-transform:translateX(-100%)
    }
    100% {
        -webkit-transform-origin:0 0;
        -webkit-transform:translateX(0%)
    }
}
@-o-keyframes slideLeftRetourn {
    0% {
        -o-transform-origin:0 0;
        -o-transform:translateX(-100%)
    }
    100% {
        -o-transform-origin:0 0;
        -o-transform:translateX(0%)
    }
}
@-ms-keyframes slideLeftRetourn {
    0% {
        -ms-transform-origin:0 0;
        -ms-transform:translateX(-100%)
    }
    100% {
        -ms-transform-origin:0 0;
        -ms-transform:translateX(0%)
    }
}
@keyframes slideLeftRetourn {
    0% {
        transform-origin:0 0;
        transform:translateX(-100%)
    }
    100% {
        transform-origin:0 0;
        transform:translateX(0%)
    }
}
@-moz-keyframes slideRightRetourn {
    0% {
        -moz-transform-origin:0 0;
        -moz-transform:translateX(100%)
    }
    100% {
        -moz-transform-origin:0 0;
        -moz-transform:translateX(0%)
    }
}
@-webkit-keyframes slideRightRetourn {
    0% {
        -webkit-transform-origin:0 0;
        -webkit-transform:translateX(100%)
    }
    100% {
        -webkit-transform-origin:0 0;
        -webkit-transform:translateX(0%)
    }
}
@-o-keyframes slideRightRetourn {
    0% {
        -o-transform-origin:0 0;
        -o-transform:translateX(100%)
    }
    100% {
        -o-transform-origin:0 0;
        -o-transform:translateX(0%)
    }
}
@-ms-keyframes slideRightRetourn {
    0% {
        -ms-transform-origin:0 0;
        -ms-transform:translateX(100%)
    }
    100% {
        -ms-transform-origin:0 0;
        -ms-transform:translateX(0%)
    }
}
@keyframes slideRightRetourn {
    0% {
        transform-origin:0 0;
        transform:translateX(100%)
    }
    100% {
        transform-origin:0 0;
        transform:translateX(0%)
    }
}@-moz-keyframes slideTopRetourn {
    0% {
        -moz-transform-origin:0 0;
        -moz-transform:translateY(-100%)
    }
    100% {
        -moz-transform-origin:0 0;
        -moz-transform:translateY(0%)
    }
}
@-webkit-keyframes slideTopRetourn {
    0% {
        -webkit-transform-origin:0 0;
        -webkit-transform:translateY(-100%)
    }
    100% {
        -webkit-transform-origin:0 0;
        -webkit-transform:translateY(0%)
    }
}
@-o-keyframes slideTopRetourn {
    0% {
        -o-transform-origin:0 0;
        -o-transform:translateY(-100%)
    }
    100% {
        -o-transform-origin:0 0;
        -o-transform:translateY(0%)
    }
}
@-ms-keyframes slideTopRetourn {
    0% {
        -ms-transform-origin:0 0;
        -ms-transform:translateY(-100%)
    }
    100% {
        -ms-transform-origin:0 0;
        -ms-transform:translateY(0%)
    }
}
@keyframes slideTopRetourn {
    0% {
        transform-origin:0 0;
        transform:translateY(-100%)
    }
    100% {
        transform-origin:0 0;
        transform:translateY(0%)
    }
}