/* =index */
.c-main{position:relative;padding:198px 0 0;}
.c-m-subject{position:absolute;top:30px;left:0;z-index:5;padding:0 30px;*padding-bottom:32px;background-color:#FFF;border-bottom:1px solid #dfdfdf;}
.c-m-subject-on{height:auto;}
.c-m-subject-d{float:left;*display:inline;width:210px;padding-right:24px;margin-right:24px;height:135px;margin-bottom:32px;border-right:1px solid #dfdfdf;}
.c-m-s-last{padding-right:0;margin-right:0;border-right:none;}
.c-m-s-title{width:85px;height:30px;background:url(../images/spr.png) no-repeat;text-indent:12px;line-height:30px;color:#fff;margin-bottom:17px;}
.c-m-s-chinese .c-m-s-title{background-position:0 -375px;}
.c-m-s-math .c-m-s-title{background-position:0 -405px;}
.c-m-s-english .c-m-s-title{background-position:0 -435px;}
.c-m-subject-others .c-m-subject-d .c-m-s-title{background-position:-85px -435px;}
.c-m-s-more{position:absolute;width:141px;height:35px;bottom:-35px;right:0;background:url(../images/spr.png) 0 -465px no-repeat;color:#999;line-height:35px;text-indent:50px;}
.c-m-s-more-on{background-position:-141px -465px;}
.c-m-subject-others{display:none;clear:both;}
.c-m-subject-others-on{display:block;}
.c-m-s-scores{overflow:hidden;}
.c-m-s-scores li{margin-top:-1px;border-top:1px dotted #dfdfdf;line-height:29px;}
.c-m-s-scores li span,.c-m-s-scores li em{display:inline-block;*display:inline;*zoom:1;width:50%;line-height:29px;vertical-align:top;}
.c-m-s-scores li a{color:#05b1d9;}
.c-m-resource{float:left;width:460px;height:279px;padding:35px 25px 0;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.c-m-r-list li{position:relative;margin-bottom:24px;line-height:14px;list-style:disc inside;}
.c-m-r-list a{color:#05b1d9;}
.c-m-r-list li em{position:absolute;right:0;top:0;line-height:14px;}
.c-m-r-list-more{margin-left:15px;}
.c-m-title{margin-bottom:15px;height:28px}
.c-m-title em{float:left;line-height:28px;font-size:16px;font-family:"Microsoft Yahei";color:#666;}
.c-m-t-tags{text-align:right;height:28px;overflow:hidden;font-size:0;}
.c-m-t-tags a{display:inline-block;*display:inline;*zoom:1;line-height:14px;padding:0 15px;border-right:1px solid #dfdfdf;background:none;color:#999;font-size:12px;margin-top:7px;vertical-align:top;margin-right:-1px;}
.c-m-t-tags .c-m-t-tags-a:hover,.c-m-t-tags .c-m-t-tags-a.on{height:26px;line-height:26px;margin-top:0;border:1px solid #dfdfdf;background-color:#f1f1f1;}
.c-m-t-tags .c-m-t-tags-more,.c-m-t-tags .c-m-t-tags-more:hover{border:none;padding-right:0;background:none;}
.c-m-t-tags a:hover{background-color:#f1f1f1;border-color:#dfdfdf;color:#666;text-decoration:none;}
.c-m-teachers{float:left;width:254px;height:279px;padding-top:35px;border-bottom:1px solid #dfdfdf;padding-left:25px;}
.c-teacher-info{width: 216px;height: 62px;border: 1px solid #fff;margin-bottom:10px;}
.c-teacher-photo{display: block;width: 58px;height: 58px;border: 3px solid #dfdfdf;float:left}
.c-teacher-intro{float:left;margin-left: 10px}
.c-teacher-title{color: #727272;font-size: 14px;font-weight: bold;clear: right;margin-bottom: 10px}
.c-teacher-title span{color: #999;font-size: 12px;padding-left: 15px}
.c-teacher-intro a{display: block;width: 62px;height: 26px;line-height: 26px;text-align: center;color: #fff;font-size: 12px;background: #05b1d9;float:left}
.c-teacher-btn1{margin-right: 5px}
.c-m-charts{float:left;width:460px;height:244px;padding:35px 25px 0;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.c-m-charts .c-m-t-tags a{border:none;padding:0 16px;margin-right:0;}
.c-m-charts .c-m-t-tags  .c-m-t-tags-middle{padding:0 15px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.c-m-charts .c-m-t-tags .c-m-t-tags-a:hover,.c-m-charts .c-m-t-tags .c-m-t-tags-a.on{padding: 0 15px;}
.c-m-charts-area{width:460px;height:180px;}
.c-m-record{float:left;width:215px;padding-right:39px;height:244px;padding-top:35px;border-bottom:1px solid #dfdfdf;padding-left:25px;}
.c-m-record-hd{height:25px;margin-bottom:12px;}
.c-m-record-left,.c-m-record-right{height:25px;width:25px;background:url(../images/spr.png) no-repeat;cursor:pointer;}
.c-m-record-left{float:left;background-position:0 -279px;}
.c-m-record-right{float:right;background-position:0 -304px;}
.c-m-record-title{overflow:hidden;*zoom:1;text-align:center;line-height:25px;}
.c-m-record-title span{display:none;}
.c-m-record-title .current{display:inline;}
.c-m-record-bd ul{display:none;}
.c-m-record-bd .current{display:block;}
.c-m-record-bd li{line-height:30px;text-align:right;}
.c-m-record-bd li span{float:left;}
.c-m-parents{float:left;width:460px;height:244px;padding:35px 25px 0;border-right:1px solid #dfdfdf;}
.c-m-parents a{color:#05b1d9;}
.c-m-parents .c-m-t-tags a{border:none;padding:0 16px;margin-right:0;color:#999;}
.c-m-parents .c-m-t-tags  .c-m-t-tags-middle{padding:0 15px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.c-m-parents .c-m-t-tags .c-m-t-tags-a:hover,.c-m-parents .c-m-t-tags .c-m-t-tags-a.on{padding: 0 15px;}
.c-m-parents-topics{height:34px;line-height:34px;margin-bottom:12px;background-color:#f7f7f7;border:1px solid #dcdcdc;padding-left:20px;}
.c-m-parents-topics span{color:#666;}
.c-m-parents-topics a{padding:0 5px;}
.c-m-parents-list{margin-bottom:15px;}
.c-m-parents-list li{line-height:40px;border-bottom:1px dotted #dfdfdf;list-style:disc inside;color:#b0b0b0;}
.c-m-parents-more{margin-left:15px;}

.c-m-banner{float:left;width:215px;padding-right:39px;height:244px;padding-top:35px;border-bottom:1px solid #dfdfdf;padding-left:25px;}
.c-m-banner-btns{text-align:right;margin-bottom:8px;}
.c-m-banner-btns span{display:inline-block;*display:inline;*zoom:1;width:12px;height:11px;background-color:#bfbfbf;background:url(../images/spr.png) -132px -293px no-repeat;}
.c-m-banner-btns .current{background-color:#fff0b1;width:50px;background-position:-75px -293px;}
.c-m-banner-pic img{display:block;width:238px;height:205px;}
.c-m-banner-pic a{display:none;}
.c-m-banner-pic .current{display:block;}