/** 改写公共资源的独有样式 **/
.c-header h1{position: absolute;width: 196px;height: 46px;background:url(../images/resources_rank/synch_h1.png) no-repeat 0 0;text-indent: -9999em;top: 40px;}
.c-h-search{position: absolute;right: 0;height: 44px;width: 446px;top: 40px;}
.c-h-s-tag{width: 76px;height: 44px;float: left;background: #f6f6f6;color: #6c6c6c;font-size: 12px;text-align: center;line-height: 44px;}
.c-h-s-tag em{display: inline-block;width: 7px;height: 5px;background: url(../images/resources_index/spr_resources.png) 0 -58px no-repeat;margin-left: 8px;}
.c-h-s-tagbox{display: none;position: absolute;background: #f6f6f6;color: #6c6c6c;width: 76px;z-index: 100;}
.c-h-s-tagbox li{height: 44px;line-height: 44px;text-align: center;cursor: pointer;}
.c-h-s-tagbox li:hover{background: #ddd;color: #fff;}
.c-h-s-text{float: left;height:44px;width: 290px;border: 0;background: #fff;}
.c-h-search-btn{float: left;background: #f5931c url(../images/resources_index/spr_resources.png) 0 -76px;width: 79px;height: 100%;}
.c-h-search-btn:hover{background-color: #ffc705;}
.c-h-search-bot{position: absolute;right: 18px;top:100px; }
.c-h-search-bot li{float: left;margin: 0 10px; *margin:0 5px; color: #6c6c6c}
.c-h-search-bot a{color: #6c6c6c;}


/** 页面主要内容布局部分 **/
.c-main{*margin-top:30px;}
.c-m-content{margin-top:30px;}

/** 页面左侧布局 **/
.c-m-left{float:left; width:710px; border-top:2px solid #05b1d9;}

/** 页面左侧布局-公共样式 **/
.c-m-l-top{padding:15px 25px; background-color:#fff; border:1px solid #d8d8d8; border-top:0; box-shadow:0 1px 2px #ccc; overflow:hidden;}
.c-m-l-middle{padding:10px 25px;}
.c-m-l-bottom{padding:10px 25px; background-color:#fff; border:1px solid #d8d8d8; box-shadow:0 1px 2px #ccc; overflow:hidden;}

/** 同步辅导页-左侧布局部分 **/
/* 同步辅导页-左侧布局部分-上*/ 
.c-m-l-title{margin:30px 0 0 30px; color:#333333; font-size:24px; font-family:"Microsoft Yahei"; font-weight:bold;}
.c-m-l-nav{margin:15px 0 10px 30px; height:38px;}
.c-m-l-nav-link{margin-right:25px; height:38px; line-height:38px; color:#999; cursor:pointer;}
.c-m-l-nav-link span{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.c-m-l-nav-link-text{padding-left:5px;}
.c-m-l-nav-link:hover{color:#05b1d9; text-decoration:none;}
.c-m-l-nav-link-icon{display:inline-block; *display:inline; *zoom:1; vertical-align:top;  width:38px; height:38px; background:url(../images/resources_page/spr_resources_synchronous.png) no-repeat;}
.c-m-l-nav-link1 .c-m-l-nav-link-icon{background-position:0 0;}
.c-m-l-nav-link1:hover .c-m-l-nav-link-icon{background-position:0 -50px;}
.c-m-l-nav-link2 .c-m-l-nav-link-icon{background-position:-50px 0;}
.c-m-l-nav-link2:hover .c-m-l-nav-link-icon{background-position:-50px -50px;}
.c-m-l-nav-link3 .c-m-l-nav-link-icon{background-position:-100px 0;}
.c-m-l-nav-link3:hover .c-m-l-nav-link-icon{background-position:-100px -50px;}
.c-m-l-index{margin:20px 30px 0 30px; padding:0 20px; margin-bottom:30px; height:30px; line-height:30px; color:#05b1d9; background:#fffae2; border:1px solid #f5e190;}
.c-m-l-index span{color:#999999;}
.c-m-l-index a{margin:0 10px; color:#05b1d9;}


/** 同步辅导页-左侧布局部分 **/
.c-m-left5{width:706px; background-color:#fff; border:1px solid #d8d8d8; box-shadow:0 1px 2px #ccc}
.c-m-l-box{padding:0 30px 30px 30px;}
.c-m-l-b-title{padding:7px 20px; border-top:2px solid #b4efff; font:bold 12px "SimSun"; background:url(../images/resources_rank/icon_h2.jpg) 20px 5px no-repeat; background-color:#d0f6ff; color:#999; text-indent:25px;}
/* 同步辅导页-左侧布局部分-上 */
.c-m-l-b-bookList{overflow:hidden;}
.c-m-l-b-b-bookWrap{display:inline-block; *display:inline; *zoom:1; vertical-align:top; margin:20px 0 0 19px; width:140px; overflow:hidden; cursor:pointer;}
.c-m-l-b-b-b-link{display:block; width:134px; height:94px; background:url(../images/resources_rank/default_pic1.jpg) no-repeat; overflow:hidden; border:2px solid #dfdfdf;}
.c-m-l-b-b-b-link2{display:block; width:134px; height:94px; background:url(../images/resources_rank/default_pic2.jpg) no-repeat; overflow:hidden; border:2px solid #dfdfdf;}
.c-m-l-b-b-b-link3{display:block; width:134px; height:94px; background:url(../images/resources_rank/default_pic3.jpg) no-repeat; overflow:hidden; border:2px solid #dfdfdf;}
.c-m-l-b-b-b-link:hover,.c-m-l-b-b-b-link2:hover,.c-m-l-b-b-b-link3:hover{border:2px solid #05b1d9;}
.c-m-l-b-b-b-link img{margin:1px;}
.c-m-l-b-b-bookWrap p{padding-top:8px; font:12px/14px "SimSun"; color:#05b1d9;}
.c-m-l-b-b-bookWrap:hover p{text-decoration:underline;}
/* 同步辅导页-左侧布局部分-下 */
.c-m-l-b-essayList{padding-top:10px; margin:0 25px; width:615px;}
.c-m-l-b-e-th{margin:0 20px 10px 20px; height:35px; line-height:35px; border-bottom:1px solid #ccc;}
.c-m-l-b-e-tr{height:35px; line-height:35px; color:#999; text-decoration:none; cursor:pointer;}
.c-m-l-b-e-tr:hover{background-color:#ecf5f9; height:35px; line-height: 35px; text-decoration:none;}
.c-m-l-b-e-tr .c-m-l-b-e-td2{color:#05b1d9;}
.c-m-l-b-e-td1{width:45px;}
.c-m-l-b-e-td2{width:300px;}
.c-m-l-b-e-td3{width:100px;}
.c-m-l-b-e-td4{width:55px;}
.c-m-l-b-e-td5{width:55px;}
.c-m-l-b-e-td6{width:60px;}
.c-m-l-b-e-td3-btnStart{margin-top:5px; display:block; width:77px; height:25px; background:url(../images/resources_rank/btn_start.jpg) no-repeat; color:#934e38; text-align:center; line-height:25px;}
.c-m-l-b-e-tr:hover .c-m-l-b-e-td3-btnStart{margin-top: 4px;}
/* 同步辅导页-左侧布局部分-分页 */
.c-m-l-b-paging{padding:20px;}
.c-m-l-b-p-buttons{float:right;}
.c-m-l-b-p-buttons a{display:inline-block; *display:inline; *zoom:1; vertical-align:top; line-height:17px; padding:0 5px; border:1px solid #d8d8d8; background-color:#f8f8f8; color:#b0b0b0; text-decoration:none;}
.c-m-l-b-p-buttons a:hover{border-color:#05b1d9; background-color:#05b1d9; color:#fff;}



/** 页面右侧布局-英语园地公共资源部分 **/
.c-m-right{float:left; padding:20px; width:208px; border:1px solid #dcdcdc;}
.c-m-right h2{font-size:16px; font-family:"microsoft yahei"; color:#666; margin-bottom:5px; font-weight:bold;}
.c-m-right h2 em{display:inline-block; width:18px; height:18px; background:url(../images/zwyd_index/icon.png) no-repeat -218px 0; margin-left:4px; position:relative; top:3px;}
/* 页面右侧布局-英语园地公共资源部分-第一部分 */
.c-m-r-p1-icon{width: 92px;height: 102px;float: left;background: url(../images/zwyd_index/icon.png) no-repeat 0 10px;text-indent: -9999em;margin-right: 18px;margin-bottom: 10px;}
.c-m-r-p1-icon:hover{background-position: 0 -98px;}
.c-m-r-p1-icon.icon2{background-position: -110px 10px;margin-right: 0;}
.c-m-r-p1-icon.icon2:hover{background-position: -110px -98px;}
.c-m-r-p1-alist{clear: both;color: #05b1d9;padding-bottom: 15px;border-bottom: 1px solid #dcdcdc}
.c-m-r-p1-alist a{color: #05b1d9;padding:9px;}
/* 页面右侧布局-英语园地公共资源部分-第二部*/
.c-m-r-part2{clear:both; overflow:hidden;}
h2.c-m-r-part2-h2,h2.c-m-r-part3-h2{margin-top:20px; width:208px; height:35px; line-height:35px; background:url(../images/resources_rank/bang_h1.jpg) no-repeat; font-size:12px; font-family:"Simsun"; text-indent:35px;}
.c-m-r-part2 h3{height:28px; line-height:28px; border-bottom:1px solid #dcdcdc;}
.c-m-r-part2 li{width:208px; height:28px; line-height:28px; border-bottom:1px solid #dcdcdc; text-indent:20px; overflow:hidden;}
.c-m-r-part2 li a{display:block; width:208px; height:28px; color:#05b1d9;}
.c-m-r-part2 li a:hover,.c-m-r-part2 li a.current{text-decoration:none; color:#ff9900; font-weight:bold; background:url(../images/resources_rank/triangle.jpg) 5px -1px no-repeat; background-color:#ffffcc;}
li.c-m-r-part2-team{text-indent:0;}
.c-m-r-part2-course div{display:none;}
/* 页面右侧布局-英语园地公共资源部分-第三部*/
.c-m-r-part3{margin-bottom:50px;}
.c-m-r-part3 li{width:208px; height:28px; line-height:28px; border-bottom:1px solid #dcdcdc;}
.c-m-r-part3 li span{float:left; display:block; height:28px; overflow:hidden;}
.c-m-r-part3-num{width:18px; padding:0 5px;}
.c-m-r-part3-name{width:48px; color:#05b1d9; padding-right:5px;}
.c-m-r-part3-name a{color:#05b1d9;}
.c-m-r-part3-name a:hover{text-decoration:underline;}
.c-m-r-part3-score{width:34px; padding-right:5px;}
.c-m-r-part3-scoll{width:88px;}
.c-m-part2-more,.c-m-part3-more{float:right; margin-top:5px; display:block; width:75px; height:25px; color:#05b1d9; background:url(../images/resources_rank/more.jpg) no-repeat right 3px; text-align:right; padding-right:10px;}





/* pop */
.pop-box{width: 668px;border: 4px solid #bdbdbd;padding: 28px;position: absolute;background: #fff;display: none; overflow:hidden;}
.pop-box .close{display: block;width: 27px;height: 27px;background: url(../images/close.jpg) no-repeat;position: absolute;top: 0;right: 0;cursor:pointer}
.pop-title{position:absolute; top:0; left:0; padding-left:10px; width:100%; height:27px; line-height:27px; background-color:#f7f7f7; color:#808080;font-weight:bold;}

.pop-box th{color: #808080;height: 30px;line-height: 30px}

.pop-table td,.pop-table th{min-width: 30px;padding:8px; }
.pop-table .selected{background-color: #ffffcc;border-bottom: 1px solid #ffcc00;border-top: 1px solid #ffcc00;}
.pop-box .close-bottom-btn{position: static;display: block;margin: 10px auto;background: #f1f1f1;border: 1px solid #ccc;color: #808080;font-size: 16px;font-family: "microsoft yahei";text-align: center;height: 36px;width: 90px;line-height: 36px;text-decoration: none;}
.pop-box .close-bottom-btn:hover{border-color: #05b1d9;background: #05b1d9;color: #fff;}


.pop-table-send th{width: 54px;font-weight: bold;height: 36px;vertical-align: top;line-height: 36px;}
.pop-table-send td{padding-left: 10px;height: 36px;line-height: 36px;}
.pop-table-send label{margin-right: 13px;}
.pop-table-send a{color: #05b1d9;}
.pop-table-send input{position: relative;margin: 3px;top: 2px;}

.select-desc{margin-bottom: 15px;}
.select-left,.select-right{float: left;width: 260px;min-height: 116px;border:1px solid #ccc;max-height: 116px;overflow: auto;}
.select-left li{height: 28px;line-height: 28px;text-indent: 10px;color: #cccccc;cursor: pointer}
.select-right li{height: 28px;line-height: 28px;text-indent: 10px;color: #808080;cursor: pointer}
.select-left li:hover,.select-right li:hover,.select-left li.sel,.select-right li.sel{background: #d0eff6;}
.select-btn{float: left;margin: 28px 18px;}
.select-btn a{display: block;width: 30px;height: 22px;border: 1px solid #ccc;color: #999;background: #f1f1f1;text-decoration: none;margin-bottom: 8px;text-align: center;line-height: 22px;font-size: 14px;}

.pop-table-send textarea{width: 582px;resize: none;min-height: 50px;line-height: 24px;color: #808080;border: #ccc 1px solid;padding: 5px;}

.pop-table-send .tips{float: left;}
.pop-table-send .tips-box{float: right;position: relative;width: 420px;background: #fffae2;border: 1px solid #f5e190;color: #bda440;padding: 5px 10px;line-height: 24px;margin-top: 10px}
.pop-table-send .tips-box em{position: absolute;width: 12px;height: 22px;left: -11px;top: 50%;margin-top: -11px;background: url(../images/left_t.png)}
.pop-box .float-btn{float: left;margin-right: 10px;}
.pop-box .send-btn-bot{margin-left: 65px;border-color: #05b1d9;background: #05b1d9;color: #fff;cursor: pointer;}

#pop1{z-index: 1000}
#pop2{z-index: 999}












