a{color: #05b1d9;}
.c-header h1{position: absolute;width: 300px;height: 46px;background: url(../images/search_index/search_h1.png) no-repeat 0 0;text-indent: -9999em;top: 40px;}

.c-m-nav{top: -64px;}
.c-m-nav a{float: left;height: 34px;line-height: 34px;color: #fff;padding: 0 15px;margin-right: 5px;background: #05b1d9;text-decoration: none;}
.c-m-nav .cur,.c-m-nav a:hover{background: #f9f9f9;color: #666;}


.c-m-content{margin-top: 30px;}
.c-m-left{float: left;border: 1px solid #d8d8d8;box-shadow: 0 1px 2px #ccc;padding:20px 40px;background: #fff;padding-bottom: 100px;width: 878px;}



.c-m-l-item{overflow: hidden;border-bottom: 1px solid #efefef;padding-bottom: 20px;padding-top: 20px;}
.c-m-l-item.last{border-bottom: 0;}
.c-m-l-item h3{font-size: 12px;color: #999;font-family: simsun;float: left;margin-right: 40px;font-weight: bold;line-height: 24px;}
.c-m-l-i-r{float: left;line-height: 24px;}
.c-m-l-i-r .txt{height: 24px;min-width: 200px;line-height: 24px;border: 1px solid #ccc;padding: 0 4px;margin:0 17px;}
.c-m-l-i-r .txt1{margin-left: 30px;}



.c-m-w-table{width: 780px;}
.c-m-w-table td,.c-m-w-table th{height:38px;vertical-align: top;}
.c-m-w-table th{position: relative;width: 100px;}

.c-m-w-table .c-m-w-t-required{position: absolute;left: 8px;color: #da0000;line-height: 24px;}

.c-m-w-table input,.c-m-w-table select,.c-m-w-table label{float: left;}
.c-m-w-table label{position: relative;margin: 0 17px 8px;}
.label-flt{float: left;margin-right: 30px;position: relative;}
.c-m-w-table label input{position: relative;margin-right: 3px;top: 6px;border: 0;}
.c-m-l-i-r select{border: 1px solid #ccc;height: 24px;line-height: 24px;color: #999;padding:0 4px;width:140px;font-size: 12px;margin-left: 17px;padding-right: 0;}
.c-m-l-i-r option{height: 24px;line-height: 24px;}
.c-m-l-i-r p{height: 24px;line-height: 24px;margin-bottom: 14px;}
.c-m-l-i-r p select{margin-left: 20px;}

.c-m-l-item .submit{width: 82px;height: 32px;line-height: 32px;border: 0;text-align: center;background: #05b1d9;color: #fff;cursor: pointer;margin-left: 90px;margin-top: 10px;}
.c-m-l-item .submit:hover{opacity: .8;}




