/* =override */
.wrap{min-width:960px;background: fixed url(../images/bg_t.jpg) center top no-repeat;}
.c-h-p-cover{position:absolute;width:100%;height:100%;left:0;top:0;background:url(../images/cover_t.png) 0 0 no-repeat;}

.c-nav a{position: relative;}
.c-nav-8 em{position: absolute;width: 25px;height: 25px;line-height: 24px;font-size:14px;color: #fff;text-align: center;background: url(../images/spr_t.png) -312px -1px no-repeat;top: 20px;right: 10px;text-indent: 0;}
/* =index */
.c-main{position:relative;padding:198px 0 0;margin-top: 30px;}
.c-m-subject{position:absolute;top:30px;left:0;z-index:5;padding:0 30px;*padding-bottom:32px;background-color:#FFF;border-bottom:1px solid #dfdfdf;}
.c-m-subject-on{height:auto;}
.c-m-subject-d{float:left;*display:inline;width:210px;margin-bottom:20px;border-right:1px solid #dfdfdf;}
.c-m-s-last{padding-right:0;margin-right:0;border-right:none;}
.c-m-s-title{width:85px;height:30px;background:url(../images/spr_t.png) no-repeat;text-indent:12px;line-height:30px;color:#fff;}

.content{position: relative;}
.c-m-s-message{position: absolute;top:178px;height: 30px;background: #fffae2;border: 1px solid #f5e190;width: 790px;left: 168px;line-height: 30px;color: #666;font-size: 12px;}
.c-m-s-message .icon{float: left;width: 16px;height: 16px;background: url(../images/spr_t.png) -203px 0 no-repeat;margin-top: 6px;
    margin-left: 12px;margin-right: 8px;}
.c-m-s-message .close{position: absolute;width: 16px;height: 16px;background: url(../images/spr_t.png) -224px 0 no-repeat;right: 14px;top: 7px;text-indent: -9999em;}

.c-m-s-box{width: 730px;border-right: 0;position: relative;}
.c-m-s-title{position: relative;z-index: 10;float: left;font-family: "microsoft yahei";font-size: 14px;}
.c-m-s-sub-title{position: absolute;top: 0;left: 70px;height: 28px;line-height: 28px;border: 1px solid #dcdcdc;background-color: #f7f7f7;border-right: 0;border-left: 0;z-index: 9;padding-left: 30px;padding-right:20px;color: #808080;}
.c-m-s-block{margin-top: 15px;overflow: hidden;}
.c-m-s-block li{float: left;width: 128px;height: 105px;background: url(../images/book_spr.png) -129px 0 no-repeat;position: relative;color: #fff;margin-right: 18px;}
.c-m-s-block .red{background-position: 0 0;}
.c-m-s-block img{display: none;}
.c-m-s-block h4{width: 14px;position: absolute;left: 5px;top: 6px;}
.c-m-s-block p{margin-left: 30px;margin-top: 6px;width: 94px;line-height: 22px;}
.c-m-s-box-more{margin-top: 10px;color: #05b1d9;display: block;}

.c-m-s-list{margin-top: 15px;overflow: hidden;}
.c-m-s-list li{float: left;width: 50%;position: relative;margin-bottom: 10px;}
.c-m-s-list li img{float: left;margin-right: 10px;width: 66px;height: 60px;}
.c-m-s-list li p{color: #05b1d9;line-height: 24px;margin-top: 12px;}
.hide{display: none;}


.c-m-s-switch{position: absolute;top: 6px;left: 270px;z-index: 100;}
.c-m-s-switch a{position: absolute;width: 18px;height: 18px;background: url(../images/spr_t.png) -352px 0;}
.c-m-s-switch a.cur{background-position: -352px -18px;}
.c-m-s-switch .block{background-position: -379px -18px;margin-left:26px;}
.c-m-s-switch .block.cur{background-position: -379px 0;}

.c-m-s-chinese .c-m-s-title{background-position:0 -375px;}
.c-m-s-math .c-m-s-title{background-position:0 -405px;}
.c-m-s-english .c-m-s-title{background-position:0 -435px;}
.c-m-subject-others .c-m-subject-d .c-m-s-title{background-position:-85px -435px;}
.c-m-s-more{position:absolute;width:141px;height:35px;bottom:-35px;right:0;background:url(../images/spr_t.png) 0 -465px no-repeat;color:#999;line-height:35px;text-indent:50px;}
.c-m-s-more-on{background-position:-141px -465px;}
.c-m-subject-others{display:none;clear:both;}
.c-m-subject-others-on{display:block;}
.c-m-s-scores{overflow:hidden;}
.c-m-s-scores li{margin-top:-1px;border-top:1px dotted #dfdfdf;line-height:29px;}
.c-m-s-scores li span,.c-m-s-scores li em{display:inline-block;*display:inline;*zoom:1;width:50%;line-height:29px;vertical-align:top;}
.c-m-s-scores li a{color:#05b1d9;}
.c-m-resource{float:left;width:460px;height:165px;padding:70px 25px 0;}
.c-m-r-list li{position:relative;margin-bottom:24px;line-height:14px;list-style:disc inside;}
.c-m-r-list a{color:#05b1d9;}
.c-m-r-list li em{position:absolute;right:20px;top:1px;line-height:14px;background: url(../images/spr_t.png) -282px 0 no-repeat;width: 20px;height: 12px;}
.c-m-r-list li span{position: absolute;right: 0;font-size: 12px;color: #da0000;}

.c-m-r-list-more{margin-left:15px;}
.c-m-title{margin-bottom:15px;height:28px}
.c-m-title em{float:left;line-height:28px;font-size:16px;font-family:"Microsoft Yahei";color:#666;}
.c-m-t-tags{text-align:right;height:30px;overflow:hidden;font-size:0;}
.c-m-t-tags a{display:inline-block;*display:inline;*zoom:1;line-height:14px;padding:0 15px;border-right:1px solid #dfdfdf;background:none;color:#999;font-size:12px;margin-top:7px;vertical-align:top;margin-right:-1px;}
.c-m-t-tags .c-m-t-tags-a:hover,.c-m-t-tags .c-m-t-tags-a.on{height:26px;line-height:26px;margin-top:0;border:1px solid #dfdfdf;background-color:#f1f1f1;}
.c-m-t-tags .c-m-t-tags-more,.c-m-t-tags .c-m-t-tags-more:hover{border:none;padding-right:0;background:none;}
.c-m-t-tags a:hover{background-color:#f1f1f1;border-color:#dfdfdf;color:#666;text-decoration:none;}
.c-m-teachers{float:left;width:254px;height:285px;padding-top:70px;border-bottom:1px solid #dfdfdf;padding-left:25px;border-left: 1px solid #dfdfdf;}
.c-teacher-cont table{width: 94%;}
.c-teacher-cont th{width: 26%;padding: 2px 0;}
.c-teacher-cont td{position: relative;padding: 2px 0;}
.c-teacher-cont td div{height: 24px;background-color: #eef6f9;}
.c-teacher-cont td .white{color: #fff;}
.c-teacher-cont td .orange{background: #f47b22;}
.c-teacher-cont td .yellow{background: #fbd336;}
.c-teacher-cont td .green{background: #abc83c;}
.c-teacher-cont td em{position: absolute;top: 0;line-height: 26px;left: 8px;color: #999;}
.c-teacher-cont li label{float: left}
.c-teacher-cont li span{float:left;background: #f47b22}

.c-teacher-info{width: 216px;height: 62px;border: 1px solid #fff;margin-bottom:10px;}
.c-teacher-photo{display: block;width: 58px;height: 58px;border: 3px solid #dfdfdf;float:left}
.c-teacher-intro{float:left;margin-left: 10px}
.c-teacher-title{color: #727272;font-size: 14px;font-weight: bold;clear: right;margin-bottom: 10px}
.c-teacher-title span{color: #999;font-size: 12px;padding-left: 15px}
.c-teacher-intro a{display: block;width: 62px;height: 26px;line-height: 26px;text-align: center;color: #fff;font-size: 12px;background: #05b1d9;float:left}
.c-teacher-btn1{margin-right: 5px}
.c-m-charts{float:left;width:460px;height:269px;padding:30px 25px 0;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;position: relative;top: -110px;border-top: 1px solid #dfdfdf;}
.c-m-charts .c-m-t-tags a{border:none;padding:0 16px;margin-right:0;}
.c-m-charts .c-m-t-tags  .c-m-t-tags-middle{padding:0 15px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.c-m-charts .c-m-t-tags .c-m-t-tags-a:hover,.c-m-charts .c-m-t-tags .c-m-t-tags-a.on{padding: 0 15px;}
.c-m-charts-area{width:460px;height:180px;}
.c-m-record{float:left;width:215px;padding-right:39px;height:160px;padding-top:30px;border-bottom:1px solid #dfdfdf;padding-left:25px;}
.c-m-record-hd{height:25px;margin-bottom:12px;}
.c-m-record-left,.c-m-record-right{height:25px;width:25px;background:url(../images/spr_t.png) no-repeat;cursor:pointer;}
.c-m-record-left{float:left;background-position:0 -279px;}
.c-m-record-right{float:right;background-position:0 -304px;}
.c-m-record-title{overflow:hidden;*zoom:1;text-align:center;line-height:25px;}
.c-m-record-title span{display:none;}
.c-m-record-title .current{display:inline;}
.c-m-record-bd a{display: block;width: 93px;height: 79px;background: url(../images/teach.jpg) no-repeat 0 0;text-indent: -9999em;float: left;cursor: pointer;}
.c-m-record-bd .a2{background-position: -113px 0;margin-left: 20px;}
.c-m-parents{float:left;width:460px;height:257px;padding:20px 25px 0;border-right:1px solid #dfdfdf;margin-top: -110px;}
.c-m-parents a{color:#05b1d9;}
.c-m-parents .c-m-t-tags a{border:none;padding:0 16px;margin-right:0;color:#999;}
.c-m-parents .c-m-t-tags  .c-m-t-tags-middle{padding:0 15px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.c-m-parents .c-m-t-tags .c-m-t-tags-a:hover,.c-m-parents .c-m-t-tags .c-m-t-tags-a.on{padding: 0 15px;}
.c-m-parents-topics{height:34px;line-height:34px;margin-bottom:12px;background-color:#f7f7f7;border:1px solid #dcdcdc;padding-left:20px;}
.c-m-parents-topics span{color:#666;}
.c-m-parents-topics a{padding:0 5px;}
.c-m-parents-list{margin-bottom:15px;}
.c-m-parents-list li{line-height:40px;border-bottom:1px dotted #dfdfdf;list-style:disc inside;color:#b0b0b0;}
.c-m-parents-more{margin-left:15px;}

.c-m-banner{float:left;width:215px;padding-right:39px;height:244px;padding-top:20px;padding-left:25px;margin-top: -110px;padding-bottom: 15px;}
.c-m-banner-btns{text-align:right;margin-bottom:8px;}
.c-m-banner-btns span{display:inline-block;*display:inline;*zoom:1;width:12px;height:11px;background-color:#bfbfbf;background:url(../images/spr_t.png) -132px -293px no-repeat;}
.c-m-banner-btns .current{background-color:#fff0b1;width:50px;background-position:-75px -293px;}
.c-m-banner-pic img{display:block;width:238px;height:205px;}
.c-m-banner-pic a{display:none;}
.c-m-banner-pic .current{display:block;}