.wrap{background:#000 url(../images/my_broadcast/bg.jpg) no-repeat center top; overflow:hidden;}
.c-header{height:250px; margin-top:20px; background:url(../images/my_broadcast/headerBg.jpg) no-repeat; overflow:hidden;}
.c-header-cont{width:480px; margin:60px auto;}
.aside .goTop{display:none; position:absolute; width:730px; height:73px; background:url(../images/my_broadcast/goTop.jpg) no-repeat;}


.c-h-left{float:left;width:100px;}
.c-h-right{color:#fff;overflow:hidden;*zoom:1;}
.c-h-pic{position:relative;display:block;width:86px;height:86px;margin:0;}
.c-h-pic img{display:block;width:86px;height:86px;}
.c-h-p-change{display:none;position:absolute;width:100%;height:100%;left:0;top:0;text-align:center;line-height:132px;color:#fff;font-size: 14px;}
.c-h-p-cover{position:absolute;width:100%;height:100%;left:0;top:0;background:url(../images/my_broadcast/cover_s.png) 0 0 no-repeat;}
.c-h-p-bg{display:none;position:absolute;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.c-h-pic:hover .c-h-p-change,.c-h-pic:hover .c-h-p-bg{display:block;cursor:pointer;text-decoration:none;}
.c-h-name{padding:8px 0 0 0; font-size:12px;font-family:"Microsoft Yahei";font-weight:lighter;width:345px; border-bottom:none;}
.c-h-name strong{color:#05b1d9;font-weight:bold;}
.c-h-info{padding:10px 0 10px;color:#fff;}
.c-h-info div{float:left;*display:inline;line-height:16px;}
.c-h-i-names{position:relative;padding-right:20px;border-right:1px solid #fff;}
.c-h-info .c-h-i-names{padding-left:0; color:#fff;}
.c-h-i-names em i{display:inline-block;*display:inline;*zoom:1;width:0;height:0;line-height:0;font-size:0;border:4px solid transparent;border-top-color:#fff;vertical-align:middle;margin-left:5px;}
.c-h-i-names ul{position:absolute;top:100%;left:56px;background-color:#000;color:#fff;display:none;}
.c-h-i-class{padding-left:20px;}
.c-h-sign{height:28px; position:relative; margin-top:15px;}
/*.c-h-s-btn{position:absolute;*display:inline;height:30px;line-height:30px;margin-right:5px;background:url(../images/my_broadcast/sprite.png) no-repeat;border:none;}*/
.c-h-s-text1{float:left; margin-right:10px; height:27px; line-height:27px; background-color:transparent; width:auto;}
.c-h-s-btn{float:left; width:28px; height:28px; background:url(../images/my_broadcast/sprite.png) no-repeat 0 -80px; cursor:pointer;}
.c-h-s-text1 .left{float:left; width:15px; height:27px; background:url(../images/my_broadcast/sprite.png) no-repeat 0 0;}
.c-h-s-text1 .right{float:left; width:15px; height:27px; background:url(../images/my_broadcast/sprite.png) no-repeat 0 -40px;}
.c-h-s-text1 .cont{float:left; min-width:250px; max-width:400px; background-color:#3b6e96;}


.c-h-i-address{color:#fff;}
.c-h-i-address a{color:#fff;}
.c-i-a-copy{padding:0 10px; border-right:1px solid #fff;}
.c-i-a-collection{padding:0 10px;}



.c-header-nav{width:960px; height:45px; margin:0 auto 20px auto; background-color:#f9f9f9; color:#999;}
.c-header-nav-list{text-align:center; font-size:0;}
.c-header-nav-list a{padding:0 20px; height:42px; display:inline-block; *display:inline; vertical-align:top; *zoom:1;
    text-align:center; line-height:42px; font-size:12px; color:#999; text-decoration:none;
}
.c-header-nav-list a:hover, .c-header-nav-list a.current{border-bottom:3px solid #05b1d9; color:#666; content:"."}



.content{width:960px; margin:0 auto; padding-bottom:50px;}
.cont-left{float:left; width:240px; background-color:#efefef;}
.cont-right{float:left; width:720px; padding-bottom:20px; background-color:#fff;}

.cont-left-part1{}
.cont-left-part1-navList{padding:10px 0; text-align:center; font-size:0;}
.cont-left-part1-navList a{padding:0 22px; display:inline-block; *display:inline; vertical-align:top; *zoom:1;
    text-align:center; text-decoration:none;
}
.cont-left-part1-navList .middle{border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}
.cont-left-part1-navList span{display:block; text-align:center;}
.cont-left-part1-navList .number{font-size:16px; font-family:'Arial'; font-weight:bold; color:#666;}
.cont-left-part1-navList .title{font-size:12px; font-family:'SimSun'; color:#999;}

.cont-left-part2{}
.cont-left-part2-navList{padding-bottom:30px;}
.cont-left-part2-navList a{display:block; height:40px; line-height:40px; color:#999; text-indent:55px;
    background:#efefef url(../images/my_broadcast/sprite.png) no-repeat; text-decoration:none;
}
.cont-left-part2-navList a:hover{background-color:#fffae2;}
.cont-left-part2-navList a.current{border-bottom:1px solid #d4d4d4; background-color:#fff;}
.cont-left-part2-navList .btn1{background-position:23px -140px;}
.cont-left-part2-navList .btn2{background-position:23px -180px;}
.cont-left-part2-navList .btn3{background-position:23px -220px;}
.cont-left-part2-navList .btn4{background-position:23px -260px;}
.cont-left-part2-navList .btn5{background-position:23px -300px;}
.cont-left-part2-navList .btn6{background-position:23px -340px;}


.cont-left-part{width:200px; margin:0 auto; padding:15px 0; border-top:2px solid #dfdfdf;}
.cont-left-part h3{color:#666; font-weight:bold;}
.cont-left-part-main{padding:5px 0;}
.cont-left-part3-main-top{margin-bottom: 10px;}


.cont-left-part3-main a{color:#05b1d9;}
.cont-left-part3-main-top a{font-size:14px; font-weight:bold; line-height: 24px;margin-bottom: 10px;}
.cont-left-part3-main-bottom{font-size:12px;}

.cont-left-part4-main{color:#999;}

.cont-left-part5-main{color:#05b1d9;}
.cont-left-part5-main li{height: 24px;}
.cont-left-part5-main a{color:#05b1d9;}
.cont-left-part5-main span{color:#999;}

.cont-left-part6-main{color:#05b1d9;}
.cont-left-part6-main li{height: 24px;}
.cont-left-part6-main .last-row{margin-top: 10px;}
.cont-left-part6-main a{color:#05b1d9;}


.cont-right-main{position:relative; width:680px; margin:0 auto; overflow:hidden;}

.c-m-l-discuss{position:relative; margin-top:10px; clear:both;}
.c-m-l-discuss h3{width:300px; height:40px; background:url(../images/my_broadcast/cont-h3.jpg) no-repeat;}
.c-m-l-discuss textarea{padding:10px; border: 1px solid #afc8ad; width:657px; resize:none; height:75px; font-size:14px; box-shadow:inset 0 1px 2px #b0b0b0;}
.c-m-l-d-btn{float:right; width:110px;height:37px;color: #fff; font-size: 18px;font-family: "microsoft yahei";font-weight:bold;text-align: center;line-height: 37px;background: #f5931c;margin: 7px 0;margin-bottom: 15px;}
.c-m-l-d-tips{position:absolute; top:5px; right:0; float:left;}
.c-m-l-d-tips em{font:22px "Georgia";}
/*.c-m-l-d-face{float:right; margin:10px 10px 15px 0; width:45px; height:26px; line-height:26px; color:#f5931c; background:url(../images/vote/spr_icon.png) no-repeat 0 -165px; text-indent:20px;}*/
.c-m-l-d-btns{position:absolute; left:0; *left:-25px; top:160px;}
.c-m-l-d-btnsList{overflow:hidden;}
.c-m-l-d-btnsList a{width:55px; height:20px; margin-right:15px; *margin-left:0; background:url(../images/my_broadcast/sprite.png) no-repeat; color:#999;
    display:inline-block; *display:inline; vertical-align:top; *zoom:1; text-indent:25px;
}
.c-m-l-d-btnsList .btn1{background-position:0 -442px;}
.c-m-l-d-btnsList .btn2{background-position:0 -504px;}
.c-m-l-d-btnsList .btn3{background-position:0 -562px;}
.c-m-l-d-btnsList .btn4{background-position:0 -623px;}
.c-m-l-d-btnsList .btn5{background-position:0 -683px;}
.c-m-l-d-btnsList .btn6{background-position:0 -741px;}



.cont-right-main-part2{}
.cont-right-main-part2-title{}
.cont-right-main-part2-title-top{height:40px; line-height:40px; color:#999; border-top:2px solid #05b1d9; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8;}
.cont-right-main-part2-title-top a{padding:0 15px; color:#999; text-decoration:none;}
.cont-right-main-part2-title-top a:hover, .cont-right-main-part2-title-top a.current{color:#05b1d9;}

.cont-right-main-part2-title-bottom{position:relative; height:40px; border:1px solid #d8d8d8; border-top:2px solid #d8d8d8; background-color:#f8f8f8;}
.cont-right-main-part2-title-bottom-navList{position:absolute; left:10px; bottom:-1px; height:40px; line-height:40px; font-size:0; color:#999;}
.cont-right-main-part2-title-bottom-navList span{font-size:12px; color:#dfdfdf;}
.cont-right-main-part2-title-bottom-navList a{display:inline-block; *display:inline; vertical-align:top; *zoom:1;
    font-size:12px; color:#999; padding:0 12px; text-decoration:none;
}
.cont-right-main-part2-title-bottom-navList a:hover{color:#05b1d9;}
.cont-right-main-part2-title-bottom-navList a.current{background:url(../images/my_broadcast/btn-bottom.jpg) no-repeat center bottom; color:#05b1d9;}

.cont-right-main-part2-title-bottom-search{position:absolute; top:6px; right:20px; height:30px;}
.cont-right-main-part2-title-bottom-search input{width:132px; height:16px; line-height:16px; padding:5px 35px 5px 10px;
    border:1px solid #d8d8d8; background-color:#fff;
}
.cont-right-main-part2-title-bottom-search a{position:absolute; right:1px; top:1px; width:30px; height:26px;
    background:url(../images/my_broadcast/sprite.png) no-repeat 6px -796px;}



.cont-right-main-part2-commentBoxesList{padding-bottom:20px;}

.c-m-left-main-box{width:680px; background-color:#fff;}
.c-m-left-main-box .blue{color:#05b1d9;}
.c-m-left-main-box-top-face{display:inline-block; *display:inline; *zoom:1; vertical-align:top; margin:20px 20px 0 20px; border:1px solid #f0f0f0;}
.c-m-left-main-box-top-content{display:inline-block; *display:inline; *zoom:1; vertical-align:top; padding:20px 20px 5px 0; width:552px; font-size:14px;}
.c-m-left-main-box-top-content h2{font-weight:bold; color:#05b1d9;}
.c-m-left-main-box-top-content p{color:#999;}
.c-m-left-main-box-top-content a{color:#05b1d9;}
.c-m-left-main-box-bottom{height:33px; border:1px solid #efefef;}
.c-m-left-main-box-bottom-info, .c-m-left-main-box-bottom-operation{display:inline-block; *display:inline; *zoom:1; vertical-align:top; height:33px; line-height:33px;}
.c-m-left-main-box-bottom-info{margin-left:103px; margin-bottom:10px; height:30px; line-height:30px;}
.c-m-left-main-box-bottom-info-time{padding-left:15px; background:url(../images/broadcast/transpond.png) no-repeat 0 2px;}
.c-m-left-main-box-bottom-info-division{padding:0 20px;}
.c-m-left-main-box-bottom-operation{margin-left:105px;}
.c-m-left-main-box-bottom-operation-division{padding:0 57px;}
.c-m-left-main-box-bottom-operation a{color:#999;}

/* 分页 */
.c-m-b-pagerbox{clear: both;position: relative;}
.c-m-b-pagecount{position: absolute;line-height: 24px;color: #b0b0b0;}
.c-m-b-pager{text-align: right;margin-bottom: 25px;}
.c-m-b-pager a{display: inline-block;color: #b0b0b0;background: #f8f8f8;padding: 3px 8px;text-decoration: none;cursor: pointer;}
.c-m-b-pager a:hover,.c-m-b-pager .cur{background: #05b1d9;color: #fff;}




.cont-right-main-part3{}
.cont-right-pop{position:absolute; top:200px; padding:15px; background-color:#fff; border:1px solid #dfdfdf;}
.cont-right-pop-arrow{position:absolute; top:-10px; left:20px; width:20px; height:10px;
    background:url(../images/my_broadcast/pop-top.jpg) no-repeat;
}

.cont-right-pop1{display:none; left:0;}

.cont-right-pop2{display:none; left:75px;}
.cont-right-pop2-main .part1 input{margin-top:1px; *margin-top:-3px; vertical-align:top; cursor:pointer;}
.cont-right-pop2-main .part1 label{*margin-left:-5px; vertical-align:top; color:#000; cursor:pointer;}
.cont-right-pop2-main .part2{margin-top:5px;}
.cont-right-pop2-main .part2 span{float:left; color:#000;}
.cont-right-pop2-main .part2 input{float:left; color:#000; padding:2px 5px; width:210px; height:14px; line-height:14px; background-color:#ccc; border:1px solid #737373;}
.cont-right-pop2-main .part2 a{float:left; margin-left:10px; margin-top:-1px; padding:2px; background-color:#f1f1ec; border:1px solid #194f81; color:#000;}
.cont-right-pop2-main .part3{margin-top:5px; text-align:center;}
.cont-right-pop2-main .part3 a{padding:2px; color:#000; background-color:#c0c0c0; border:2px solid #929292;}

.cont-right-pop3{display:none; left:145px;}
.cont-right-pop3 input{padding:5px 10px; width:294px; height:12px; line-height:12px; border:1px solid #d1d1d1;}
.cont-right-pop3 a{padding:2px; color:#000; background-color:#c0c0c0; border:2px solid #929292;}

.cont-right-pop4{display:none; left:218px;}
.cont-right-pop4 input{padding:5px 10px; width:294px; height:12px; line-height:12px; border:1px solid #d1d1d1;}
.cont-right-pop4 a{padding:2px; color:#000; background-color:#c0c0c0; border:2px solid #929292;}

.cont-right-pop6{display:none; width:475px;}
.cont-right-pop6 .cont-right-pop-arrow{left:390px;}
.cont-right-pop6-main .btns{margin-bottom:10px; height:25px; line-height:25px; background-color:#f6f6f6; border:1px solid #e2e8f6;}
.cont-right-pop6-main .btns a{padding:0 10px; height:19px; line-height:19px; display:inline-block; *display:inline; vertical-align:top; *zoom:1; color:#415d86;
    text-decoration:none; border:1px solid transparent; margin-top:2px; margin-left:10px;
}
.cont-right-pop6-main .btns a:hover, .cont-right-pop6-main .btns a.current{color:#000; background-color:#fff; border:1px solid #e7e7e7;}






.c-m-left-main .input-text{padding:0 10px; width:338px; height:23px; line-height:23px; border:1px solid #ccc;}
.c-m-left-main .title{float:left; padding-right:10px; min-width:90px; width:90px; height:25px; line-height:25px; text-align:right;}
.c-m-left-main .title em{color:#da0000;}

/*  */
.c-m-left-main .div-wrap{margin-left:100px;}
.c-m-left-main .div-wrap-link, .c-m-left-main .div-wrap-division{float:left; padding:5px 0; height:20px; line-height:20px; }
.c-m-left-main .div-wrap-link{background:url(../images/vote/spr_icon.png) no-repeat; color:#05b1d9; text-indent:20px;}
.c-m-left-main .div-wrap-division{padding:5px 30px;}

/*  */
.c-m-left-main .div-wrap-linkAdd{background-position:0 -202px;}
.c-m-left-main .div-wrap-linkInsert{background-position:0 -242px;}

/*  */
.c-m-left-main .div-wrap-writeInfo{display:block;}
.c-m-left-main .textarea-writeInfo{display:block; margin-left:100px; width:358px; height:103px; border:1px solid #ccc; resize:none;}
.c-m-left-main .textarea-writeInfo.hide{display:none;}
.c-m-left-main .titleInfo{float:left; height:25px; line-height:25px;}

/*  */
.c-m-left-main .div-wrap-inputList{padding-top:5px;}
.c-m-left-main .input-choice{margin-bottom:10px; *margin-bottom:5px;}
.c-m-left-main .div-wrap-linkAddChoice{display:block; padding-bottom:5px; width:75px; height:20px; line-height:20px; color:#05b1d9; background:url(../images/vote/spr_icon.png) no-repeat 0 -288px; text-indent:20px; }

/*  */
.c-m-left-main .select-choiceType{float:left; width:88px; height:25px; color:#999; border:1px solid #ccc;}
.c-m-left-main .input-radioWrap{float:left; margin-right:20px; height:25px; line-height:25px;}
.c-m-left-main .input-radioWrap input, .c-m-left-main .input-radioWrap label{float:left; cursor:pointer;}
.c-m-left-main .input-radioWrap-radio{margin-top:6px; *margin-top:2px; margin-right:3px;}

/*  */
.c-m-left-main .div-yearWrap, .c-m-left-main .select-time, .c-m-left-main .span-text{float:left;}
.c-m-left-main .div-yearWrap{width:138px; height:23px; border:1px solid #ccc;}
.c-m-left-main .div-yearWrap span{float:left; width:97px; height:23px; line-height:23px; text-align:center; border-right:1px solid #ccc;}
.c-m-left-main .div-yearWrap a{float:left; width:40px; height:23px; background:url(../images/vote/spr_icon.png) no-repeat 6px -324px;}
.c-m-left-main .select-time{margin-left:10px; width:48px; height:25px; line-height:25px; color:#999; border:1px solid #ccc; cursor:pointer;}
.c-m-left-main .span-text{padding-left:5px; height:25px; line-height:25px;}

/*  */
.c-m-left-main .tipsInfo{margin-left:100px; margin-top:15px; width:247px; height:42px; line-height:42px; color:#999; background:#fffae2 url(../images/vote/spr_icon.png) no-repeat 16px -357px; border:1px solid #f5e190; text-indent:39px;}
/*  */
.c-m-left-main .link-confirm{display:block; margin-left:100px; margin-top:20px; width:83px; height:32px; line-height:32px; background-color:#05b1d9; color:#fff; text-align:center;}
.c-m-left-main .typeWrap{position:relative; padding:5px 0;}


/* 日历 */
.g-calendar{display:none;top:35px;left:200px;width:340px;height:275px;border:1px solid #d7d7d7; *zoom:1;position:absolute;float: left;background: #f8f8f8}
.g-calendar-hd{text-align:center;height:28px;line-height:28px;border-bottom:1px solid #d7d7d7;letter-spacing:2px;background: #f8f8f8;}
.g-calendar-tit{overflow:hidden;*zoom:1;}
.g-calendar-bd span,.g-calendar-tit span{float:left;display:inline;width:35px;height:31px;line-height:35px;text-align:center;margin: 2px 6px;}
.g-calendar-prev,.g-calendar-next{display: block;width: 40px;height: 30px;background: url(../images/page.jpg) no-repeat;position:absolute}
.g-calendar-prev{background-position: 0 0;left: -1px;top: -1px;}
.g-calendar-next{background-position:-39px 0;right:-1px;top: -1px;}
.g-calendar-bd span{position:relative;zoom:1;color: #4fc7e3;}
.g-calendar-bd span.g-calendar-grey{color:#d8d8d8;}
.g-calendar-bd span em{display:block;position:absolute;top:-500px;left:0;width:200px;background:#fff;z-index:99;border:1px solid #000;}
.g-calendar-bd span em a{display:block;margin:4px 0;color:#000}
.g-calendar-bd span em a:hover{color:#04729e}
.g-calendar-bd span:hover,.g-calendar-bd .g-calendar-on{background-color:#00A8EC;color:#fff}
.g-calendar-bd span:hover em{top:0;left:34px}





