.c-main{overflow: hidden;}
.c-main-title{color: #999;font-size: 14px;line-height: 30px;border-bottom: 1px solid #d8d8d8;font-weight: bold;margin:10px 0 20px;clear:left;}
.c-parents-cont{margin-right: -200px}
.c-parents-info{width: 216px;height: 62px;padding: 10px 8px;border: 1px solid #fff;float:left;margin:0 10px 10px 0}
.c-parents-info:hover{background: #ffffcc;border-color:#ffcc00}
.c-parents-photo{display: block;width: 58px;height: 58px;border: 3px solid #dfdfdf;float:left}
.c-parents-intro{float:left;margin:10px 0 0 20px}
.c-parents-title{color: #05b1d9;font-size: 14px;clear: right;font-weight: bold}
.c-parents-location{color: #727272;font-size: 14px;line-height: 24px;}