article{position: relative;*zoom:1}
a{cursor: pointer}
.c-tab-btn{width:100%;height: 40px;margin-bottom: 20px}
.c-tab-btn li{float:left;width:50%;}
.c-tab-btn li a{display: block;width: 100%;height: 100%;background: #f8f8f8;border: 1px solid #e5e5e5;color: #999;font-size: 12px;line-height: 40px;text-align: center}
.c-tab-btn li a:hover,.c-tab-btn .current a{text-decoration: none;background: #fff;border-bottom: 0;border-top: 1px solid #05b1d9;}
.c-upload-table{width: 100%}
.c-upload-table td,.c-upload-table th{border-bottom: 1px solid #dfdfdf;color:#808080;height: 40px;line-height: 40px;}
.c-upload-table p{color: #05b1d9;}
.c-tab-cont{display: none}
.current{display: block}
.c-upload-btn-area td{border: 0;height: 60px;line-height: 60px;}
.c-config-info{color: #999;font-size: 12px;float:left}
.page-btn{display: block;width: 40px;height: 30px;background: url(../images/page.jpg) no-repeat;float:left;margin: 12px 0}
#page-prev{background-position: 0 0;margin-left: 10px}
#page-next{background-position:-40px 0 }
.c-upload-btn a{display: block;float: left;margin: 0 5px;background: #05b1d9;color: #fff;height: 30px;line-height: 30px;padding: 0 10px;text-align: center;white-space: nowrap}
.c-upload-personal .c-upload-btn a{margin: 0 5px 20px 0;height: 50px;line-height: 50px;padding: 0 20px;font-size: 20px;font-weight: bold;font-family: 'Microsoft Yahei'}
.c-upload-personal{color: #808080;font-size: 12px;}
.c-upload-personal td{height: 40px;line-height: 40px}
#pop{color: #05b1d9;text-decoration: underline}
.text{width: 408px;height: 28px;line-height: 28px;padding-left: 10px;border: 1px solid #e5e5e5;border-top:2px solid #cfcfcf }
.c-upload-personal .radio{float:left;line-height: 40px;margin-top: 14px;margin-right: 2px}
.c-upload-personal span{float:left;margin-right: 5px}
.c-upload-personal blockquote{background: #f3f3f3;border:1px solid #d7d7d7;padding: 15px;color: #808080;line-height: 22px}
.c-upload-personal blockquote strong{font-weight: bold;}
.pop-box{width: 496px;border: 4px solid #bdbdbd;padding: 28px;position: absolute;background: #fff;display: none}
.pop-box .close{display: block;width: 27px;height: 27px;background: url(../images/close.jpg) no-repeat;position: absolute;top: 0;right: 0;cursor:pointer}
.pop-box th{color: #808080;font-weight: bold;height: 30px;line-height: 30px}
.chose-cont{width: 130px;min-height: 215px;*height:215px;border: 1px solid #ccc;padding-bottom: 10px;}
.chose-cont li{height: 28px;line-height: 28px;padding-left: 10px;color: #808080;cursor: default}
.chose-cont li.hov{background: #d0eff6}
.txt-c{text-align: center}
.submit{display: block;width: 112px;height: 38px;line-height: 38px;text-align: center;color: #fff;background: #05b1d9;cursor: pointer;border: 0;float: right;margin: 10px 0}